@model IEnumerable<SSM_WebApplication.Models.FuelPrice>

<div class="mx-auto w-75 p-3">
    <p class="h2" style="margin-bottom: 1em;">Liste des carburants</p>
    <a class="btn btn-primary" asp-action="Create" role="button" style="margin-bottom: 1em;">Ajouter</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">
                    Numéro
                </th>
                <th scope="col">
                    Prix
                </th>
                <th scope="col">
                    Carburant
                </th>
                <th scope="col">
                   Commentaire
                </th>
                <th scope="col">
                    Date d'ajout
                </th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.FuelPriceId)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Fuel.FuelName)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td scope="row">
                        @Html.DisplayFor(modelItem => item.AddDate)
                    </td>
                    <td scope="row">
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })|
                        @Html.ActionLink("Detail", "Detail", new { /* id=item.PrimaryKey */ })

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
