@model IEnumerable<SSM_WebApplication.Models.Fuel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FuelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuelPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FuelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuelPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FuelId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FuelId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FuelId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
