@model SSM_WebApplication.Models.Pump

<div>
    <h4>Pump</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PumpName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PumpName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PumpDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PumpDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PumpId">Edit</a> |
    <a asp-action="List">Back to List</a>
</div>
